@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
  background-color: #374151;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover {
  background-color: #4B5563;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}